@media (max-width: 1199px) {
    .modal.show .modal-dialog {
        max-width: 80%;
    }
}

@media (max-width: 1199px) {
    .whoWeServeGridInner {
        padding-right: 30px;
    }

    .whoWeServeGrid {
        gap: 30px;
    }

    .whoWeServe .container {
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .whoWeServeGrid p {
        font-size: 14.11px;
        line-height: 16.96px;
    }

    .productHeroMain p {
        max-width: 90%;
        margin: 20px auto 30px;
    }

    .productHeroMain p br {
        display: none;
    }

    .productHeroMain h1 {
        font-size: 26px;
        line-height: 30.1px;
        text-align: left;
    }

    .productHeroMain h1 br {
        display: none;
    }

    .productHeroMain img {
        margin: 40px auto -40px;
    }

    .productGridDiv {
        padding: 56px 20px 20px;
    }

    .productGridDiv.darkBg .productGridInner {
        padding: 20px;
    }

    .productGridDiv h5 {
        font-size: 20px;
        line-height: 24.4px;
    }

    .d-none-on-web-accordian {
        display: block;
    }

    .navbar-nav .nav-item:nth-child(2),
    .navbar-nav .nav-item:last-child {
        display: none;
    }
}

@media (max-width: 768px) {
    .padding-class-20 {
        padding: 15px;
    }

    .navbar .container-fluid {
        gap: 30px;
    }

    .button {
        width: 130px;
    }

    footer {
        margin-top: 0;
    }

    .heroSection {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .footerMainL,
    .footerMainLSideL,
    .footerMainR,
    .footerMainLSideR,
    .heroSectionR,
    .heroSectionL {
        padding: 0 !important;
    }

    .title {
        font-size: 18px;
        line-height: 16.4px;
    }

    .howWeWorkSlider-pagination .swiper-pagination-bullet {
        width: 36px;
        height: 36px;
        font-size: 14px;
    }

    .heroSectionR .heroAfterImage {
        display: none;
    }

    .heroSectionL h1 {
        font-size: 26px;
        line-height: 26px;
    }

    .ourProductMainL p,
    .desc {
        line-height: 18px;
    }

    .ourProductMainL img {
        width: 32px;
        margin: 15px 0 0;
    }

    .heroSectionL .button {
        margin-top: 30px;
    }

    .navbar a img {
        max-width: 160px;
    }

    .navbar,
    .whoWeServe,
    .whyLeaseMatrix {
        padding: 20px;
    }

    .productGridDiv h5 {
        font-size: 16px;
        line-height: 14.4px;
        margin: 10px 0px;
    }

    .whyLeaseMatrixSlider {
        padding: 20px 0 40px;
    }

    .whyLeaseMatrixSlider .whyLeaseMatrixSliderR img {
        height: 200px;
        margin-top: 20px;
    }

    .productBenefits .desc {
        text-align: left !important;
    }

    .productBenefits .productGridDiv .productGridInner {
        border-radius: 20px;
    }

    .productBenefits .productGridDiv .productGridInner h5 {
        font-size: 20px;
        margin: 10px 0 15px;
    }

    .productBlogSection p {
        line-height: 19px;
        margin: 10px 0;
    }

    .productBlogSectionMain{
        flex-direction: column-reverse;
        gap: 10px;
    }

    .productBlogSection img {
        height: 250px;
        height: 170px;
        margin-top: 20px;
    }

    .productBlogSection h4 {
        font-size: 20px;
        line-height: 22px;
    }

    .faq .accordion-body,
    .faq .accordion-button:not(.collapsed), .faq .accordion-button.collapsed{
        line-height: 18px;
    }

    footer form {
        margin-top: 0;
    }

    .whyLeaseMatrixSlider .whyLeaseMatrixSliderL h2 {
        font-size: 18px;
        line-height: 27.2px;
        margin: 10px 0;
    }

    .howWeWorkDetails .button {
        margin-top: 40px;
    }

    .blogsGrid {
        display: flex;
        width: 100%;
        overflow-x: auto;
    }

    .blogsGridInner {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .blogsGrid .blogsDetails h5 {
        font-size: 14px;
    }

    .blogsGrid .blogsDetails {
        padding: 10px;
    }

    .blogsGrid span {
        font-family: Gilroy-Regular;
        bottom: 20px;
        font-size: 12px;
    }

    .blogsGrid img {
        width: 100%;
        height: 170px;
    }

    .whoWeServe {
        padding: 38px 20px;
    }

    .whoWeServeGrid {
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 30px;
        gap: 20px;
        text-align: left;
    }

    .whoWeServeGridInner img {
        width: 32px;
        height: 32px;
    }

    .whoWeServeGridInner {
        padding: 0;
        border: none;
    }

    .whoWeServe .container {
        padding: 0;
    }

    .title {
        text-align: left;
        margin-bottom: 15px !important;
    }

    .ourClientTitle {
        padding-left: 15px;
    }

    .ourClients {
        gap: 20px;
    }

    .howCreLeaseMatrixWorksPadding {
        padding-top: 30px;
    }

    .footerMainLSideR::after,
    .modalMainClass .modalMainClassL {
        display: none;
    }

    .modalMainClass .modalMainClassR {
        padding: 15px;
    }

    .modal.show .modal-dialog {
        max-width: 100%;
    }

    .ourProductMainParent,
    .d-none-on-mod {
        display: none;
    }

    .d-none-on-web {
        display: block;
    }

    .d-none-on-web .swiper-pagination {
        display: none;
    }

    .ourProductMain {
        padding: 15px 15px 50px;
    }

    .whoWeServeGrid p {
        font-size: 12px;
        line-height: 13px;
        margin-top: 10px;
        text-align: left;
    }

    .ourProductMainL .button_group {
        margin-top: 20px;
    }

    .howWeWorkDetails h2,
    .ourProductMainL h4 {
        font-size: 18px;
        line-height: 27.2px;
        margin: 10px 0;
    }

    .ourProductMainL h4 {
        margin: 0 0 10px;
    }

    .howWeWork {
        position: relative;
    }

    .howWeWorkR img {
        position: absolute;
        top: 48px;
    }

    .howWeWorkDetails {
        margin: 230px 0 20px;
    }

    .blogsGrid {
        margin-bottom: 20px;
    }

    .latestBlog .text-center:has(.button) {
        text-align: left !important;
    }

    .span {
        margin: 10px 0 0;
        display: inline-block;
    }

    .padding-class-20.latestBlog {
        margin-top: 30px;
    }

    footer {
        padding: 30px 20px 20px;
    }

    footer form {
        gap: 10px;
        margin-top: 20px;
    }

    footer form h6 {
        text-align: left;
    }

    footer .footerMainLSideL .socialIcons img {
        opacity: 1;
    }

    footer h4 {
        margin-bottom: 10px;
    }

    .socialIcons {
        margin-bottom: 15px;
    }

    .productGridDiv {
        grid-template-columns: 1fr;
    }

    /* .productBenefits, */
    .faq,
    .productBlogSection,
    .productHeroMain {
        padding: 15px;
    }

    .productHeroMain p {
        max-width: 100%;
        margin: 10px 0 20px;
        text-align: justify;
    }

    .productHeroMain img {
        max-width: 100%;
    }

    .productHeroMain h1 {
        font-size: 16px;
        line-height: 18.1px;
        margin: 10px 0 0;
    }

    .productBlogSection button {
        margin: 40px 0 20px;
    }

    .faq .accordion {
        max-width: 100%;
    }

    .typo {
        padding: 15px;
    }

    .faq,
    .productBenefits .productGridDiv {
        padding-top: 20px;
    }

    .whyLeaseMatrixSlider .whyLeaseMatrixSliderL img {
        max-width: 32px;
    }

    .whyLeaseMatrixSlider .whyLeaseMatrixSliderL p {
        font-size: 14px;
        line-height: 16px;
    }

    .ourProductMainR img {
        height: 170px;
    }

    .ourProductMain {
        flex-direction: column-reverse;
    }

    .ourProductMainL .productImageForMob {
        display: block;
        width: 100%;
        height: 170px;
        margin: 20px 0 40px;
    }

    .footerMain .desc {
        font-size: 12px;
        line-height: 16px;
    }

    .ourProductMainR img {
        display: none;
    }

    footer ul li p,
    footer ul li a {
        margin-bottom: 10px;
    }

    .formMainGird .formInner:nth-child(5),
    .formMainGird .formInner:last-child {
        grid-column: unset;
    }

    .formMainGird {
        grid-template-columns: 1fr;
    }

    .productHeroMain button,
    .productHeroMain span {
        margin: unset;
    }
}